<section class="section-search">
  <div class="search" #searchContainer>

    <mat-form-field>
      <input matInput placeholder="Enter timeline name e.g. 'fcbarcelona'" #timelineInput>
    </mat-form-field>

    <div [hidden]="tweets.length === 0">
      <mat-form-field>
        <input matInput placeholder="Filter tweets" #filterInput>
      </mat-form-field>
    </div>

    <div class="search__loader">
      <mat-progress-spinner
        *ngIf="busy"
        class="loader"
        [color]="primary"
        [diameter]="50"
        [mode]="'indeterminate'">
      </mat-progress-spinner>
    </div>

  </div>

  <div class="timeline" #timelineContainer>

      <ul class="timeline__list">
        <li class="timeline__item" *ngFor="let tweet of paginatedTweets">
          <mat-card class="card">
            <mat-card-header>
              <div mat-card-avatar><img [src]="tweet.user.profile_image_url" [alt]="tweet.user.name"></div>
              <mat-card-title><a target="_blank" [href]="'https://twitter.com/' + tweet.user.screen_name">{{tweet.user.name}}</a></mat-card-title>
              <mat-card-subtitle>{{tweet.created_at | date:'medium'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p appFilterTwitterLinks>{{tweet.text}}</p>
            </mat-card-content>
          </mat-card>
        </li>
      </ul>
  
      <div class="timeline__paginator" [hidden]="paginatedTweets.length === 0">
        <mat-paginator 
          [length]="dataLength"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"
          (page)="filterTweets()">
        </mat-paginator>
      </div>
  
    </div>



</section>
