.section-search {
    min-height: 100vh;
    padding: 26rem 2rem 10rem;
    position: relative;

    @media only screen and (max-width: 25em) {
        padding: 26rem 1rem 4rem;
    }
}

.search {
    padding: 0 2rem;
    max-width: 60rem;
    width: 100%;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .4s;


    @media only screen and (max-width: 25em) {
        padding: 0 1rem;
    }
    

    &--top {
        top: 18rem;
    }

    &__loader {
        display: flex;
        justify-content: center;
    }

}


.timeline {
    max-width: 100rem;
    margin: 0 auto;

    visibility: hidden;
    transition: all .4s;
    transform: translateY(80%) scale(0.8);
    opacity: 0;


    &--top {
        transform: translateY(0) scale(1);
        opacity: 1;
        visibility: visible;
    }



    &__loader-container {
        display: flex;
        justify-content: center;
        margin: 2rem 0;
    }

    &__search-input-conatiner {
        max-width: 50rem;
        margin: 2rem auto;
    }

    &__list {
        list-style: none;
    }

    &__item {
        margin: 2rem 0;
    }



}


mat-form-field {
    width: 100%;
    margin: 2rem 0;
}