.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    .header__home-link {
        &:visited,
        &:link {
            font-weight: 700;
            letter-spacing: 1px;
            line-height: 1;
            transition: all .25s;
            color: #fafafa;

            @media only screen and (max-width: 25em) {
                font-size: small;
            }
        }

        &:active {
            color: #bdbdbd;
        }

        &:hover {
            letter-spacing: 2px;
            transform: scale(1.03);
        }       
    }
}