/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    box-sizing: border-box;
}

a {
    &:link,
    &:visited {
        text-decoration: none;
    }
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.u-fill-remaning-space {
    flex: 1 1 auto;
}

.loader {
    margin: 2rem;
}